extends layout

block content
	- var redirectUrl;
	- if(payment.payer.payment_method === 'paypal') {
	- 	for(var i=0; i < payment.links.length; i++) {
	- 		var link = payment.links[i];
	- 		if (link.method === 'REDIRECT') {
	- 			redirectUrl = link.href;
	- 		}
	- 	}
	- }
	- var header = "Created a new " + payment.payer.payment_method + " payment";
	- var paymentDetails = JSON.stringify(payment, null, 2);
	h1= header
	if redirectUrl
		a(href=redirectUrl)
			button(type='submit') Redirect
	pre
		p= paymentDetails