doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='/javascripts/app.js')
  body
    block content